// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$h1:        (size: 1.5rem,     line-height: 1.5rem,     letter-spacing: -.01562em, weight: 300) !default;
$h2:        (size: 1rem,  line-height: 1rem,  letter-spacing: -.00833em, weight: 300) !default;
$h3:        (size: 0.75rem,     line-height:  0.75rem, letter-spacing: normal,    weight: 400) !default;

